#page-resume {
  position: relative;
  padding-top: var(--space-xxl);

  #resume {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
  }

  section {
    display: flex;
    gap: var(--space-l);
  }
  .icone {
    --taille: 80px;
    position: relative;
    height: var(--taille);
    width: var(--taille);

    & > * {
      position: absolute;
    }
    .arriere {
      height: var(--taille);
      width: var(--taille);
      svg {
        height: var(--taille);
        width: var(--taille);
      }
    }
    .avant {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20pt;
    }
  }
}
