.etape {
  &:first-child {
    margin-top: 0;
  }

  h1 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: var(--space-s) var(--space-l);
    background: var(--bg);
    z-index: 2;
    background: var(--primary);
    color: var(--on-primary);
  }
  h2 {
    position: sticky;
    top: 50px;
    margin: 0;
    padding: var(--space-s) var(--space-l);
    background: var(--bg);
    border-bottom: 1px solid var(--gray);
  }
}

.categories {
  margin: auto;
  padding-bottom: var(--space-xl);

  label {
    padding: var(--space-s) var(--space-l);
    cursor: pointer;
    display: block;

    input {
      margin-right: var(--space-m);
    }
  }
}

a#resume {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: var(--space-l);
  width: 100%;
  background: var(--bg);
  z-index: 3;
  box-sizing: border-box;
  border-top: 1px solid var(--gray);
  background: var(--primary);
  color: var(--on-primary);
}
