@use "sass:math";

@function space-scale($factor) {
  @return 8 * math.pow(1.6, $factor - 1) + "px";
}

body {
  font-family: Ubuntu, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  --space-s: #{space-scale(1)};
  --space-m: #{space-scale(2)};
  --space-l: #{space-scale(3)};
  --space-xl: #{space-scale(4)};
  --space-xxl: #{space-scale(5)};
  --bg: white;
  --gray: #ccc;
  --primary: black;
  --on-primary: white;

  font-size: 14pt;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

main {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
}

h1,
h2,
h3,
ul {
  margin: 0;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
  &.active {
    font-weight: bold;
  }
}

header a {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  padding: var(--space-s);
  text-decoration: none;

  #logo {
    --taille: 40px;
    height: calc(var(--taille) * 0.95);
    svg {
      height: var(--taille);
    }
  }

  h1 {
    margin: 0;
    line-height: 0.9;
    text-transform: uppercase;
    font-size: 13pt;
    position: relative;
    display: flex;
    flex-direction: column;

    span:first-child {
      font-size: 120%;
    }
    span:nth-child(2) {
      letter-spacing: -1px;
      font-weight: normal;
    }
  }
}

@import "Page/Selection.scss";
@import "Page/Resume.scss";
